@page "/project/task/{TaskId:guid}"
@using BlazorBootstrap
@inherits AppComponentBase
@rendermode InteractiveServer

<title>Edit Task - you can make changes to your task's details here'</title>


<EditForm EditContext="@_editContext">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Name:  <span class="text-danger">*</span></label>
        <InputText class="form-control" placeholder="Task Name..." @bind-Value="_validationModel.Title" />
        <ValidationMessage For="@(() => _validationModel.Title)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description:</label>
        <InputTextArea class="form-control" rows="3" placeholder="Enter Task Description..." @bind-Value="_validationModel.Description" />
    </div>

    <div class="mb-3">
        <label class="form-label">Assignee:</label>
        <div class="d-flex mb-3 gap-2">
            <select class="form-control" @bind="_validationModel.AssigneeId">
                <option value="">-- Select Assignee --</option>
                @foreach (var assignee in _assignees)
                {
                    <option value="@assignee.AssigneeId">
                        @assignee.AssigneeName - @assignee.AssigneeEmail
                    </option>
                }
            </select>

            <Button Color="ButtonColor.Dark" @onclick="OnShowNewAssigneeModal"><Icon Name="IconName.PersonAdd" /></Button>
        </div>
    </div>

    <div>
        <label class="form-label">Priority:</label>

        <select class="form-control" @bind="_validationModel.Priority">
            <option value="@Domain.Enums.Priority.None"> None </option>
            @foreach (var item in _priorityOptions.Where(p => p != Domain.Enums.Priority.None))
            {
                 <option value="@item">@item</option>
            }

        </select>
    </div>

    <br />

    <label class="form-label">Due Date:</label>
    <div class="mb-3">
        <input type="date"
               class="form-control"
               @bind="_validationModel.DueDate" />
    </div>

</EditForm>
